* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none !important;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
    font-family: 'Londrina Solid', cursive;
}

/*Css do header*/

#site-header{
    width: 100%;
    height: 16.5vh;
    background-color: #18191b;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0 12vh 0 12vh;
}

#header-logo{
    width: 37vh;
    height: 37vh;
    min-width:  40vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo a{
    display: flex;
    align-items: center ;
    justify-content: center;
    max-width: 40vh;
    min-width: 40vh;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#header-logo img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.nav{
    display: flex;
    margin-right: 24vw;
}

.nav h3{
    color: #f6f9ffd8;
    cursor: pointer;
}

.adm{
    margin-right: 3vw;
}

.search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.search input{
    display: inline-block;
    max-width: 33vh;
    width: 33vh;
    height: 4.6vh;
    padding: 0 1.8vh;
    border-radius: 3.3vh 0 0 3.3vh;
    font-size: 2.5vh;
    font-weight: 400;
    color: black;
    background-color: white;
    border: 2px solid #00ffff;
    border-right: 0;
}

.search button{
    display: inline block;
    width: 5.2vh;
    height: 4.6vh;
    border-radius: 0 2vh 2vh 0;
    background-color: white;
    color: #18191b;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4vh solid #00ffff;
    border-left: 0;
    cursor: pointer;
    transition: 0.3s-;
}

.search button:hover{
    background-color: #00ffff;
    color: white;
}

/*Css do footer*/


#site-footer{
    max-width: 100vw;
    width: 100%;
    background-color:#18191b ;
    color: white;
    padding: 1.8vh 3vh;
}

#footer-container{
    width: 100%;
    min-height: 20vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.3vh;
    font-weight: 400;
}

#logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-height:  20vh;
    height: 100%;
    position: relative;
}

#logo-footer img{
    max-width: 100%;
    max-height: 21.4vh;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

#text-footer{
    font-size: 3.3vh;
    width: 50%;
    text-align: center;
}

#social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vh;
    color: white;
    width: 25%;
}

#social-media img{
    width: 8vh;
    height: 8vh;
    background-color: #dc3c4d;
    padding: 1.2vh;
    border: 0.7vh solid white;
    border-radius: 50%;
    cursor: pointer;
}


/*Css da index*/

.product{
    display: flex;
    padding: 1.9vh 2.8vh;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 4.5vh;
}

.each-product{
    display: flex;
    flex-direction: column;
    padding: 2.1vh;
    align-items: center;
    text-align: center;
    cursor:pointer;
    border-radius: 1.8vh;
    box-shadow: 2.9vh 2.9vh 5.6vh -3.2vh #3f4042;
    margin-bottom: 4vh;
    margin-right: 3.7vh;
}

.image-container img{
    width: 40vh;
    height: 40vh;
}

.each-product:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

.title-product h1{
    margin-top: 4vh;
    font-size: 9vh;
    padding: 3vh;
    text-align: center;
    background-color: #eaeef5;
}

.select-container input{
    padding: 0.2rem 0.6rem;
    color: white;
    background-color: #dc3c4d;
    border-radius: 0.5vh;
    cursor: pointer;
}

.select-container input:hover{
    background-color: darkorange;
    color:white;
}

.select-container{
    padding: 2.5vh;
}
.site-container{
    margin-top: 20vh;
    width: 100vw;
    background-color: #f6f9ff;
}

.janela-modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #ffffff9f;
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.janela-modal.abrir{
    display: flex;
}

.each-product0{
    display: flex;
    flex-direction: column;
    padding: 2.1vh;
    align-items: center;
    text-align: center;
    border-radius: 1.8vh;
    box-shadow: 2.9vh 2.9vh 5.6vh -3.2vh #3f4042;
    margin-bottom: 4vh;
    margin-right: 3.7vh;
    cursor:not-allowed;
    opacity: 0.5;
}

.each-product0:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

/*Css Slider*/

.body-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 80vw;
    height: 75vh;
    overflow: hidden;
}

.slides{
    width: 300%;
    height: 75vh;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 33.33%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 80vw;
    height: 100%;
}

.manual-navegation{
    position: absolute;
    width: 80vw;
    margin-top: -4.5vh;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
margin-right: 30px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -33.33%;
}

#radio3:checked ~ .first{
    margin-left: -66.66%;
}

.navegation-auto div{
    border: 2px solid #dc3c4d;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto{
    position: absolute;
    width: 80vw;
    margin-top: 70.6vh;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 30px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navegation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~ .navegation-auto .auto-btn3{
    background-color: #fff;
}

/*O pai é responsivo*/

@media screen and (max-width: 1300px){
    .product{
        justify-content: space-around ;
    }
}

@media screen and (max-width: 1140px){
    .nav{
        margin-right: 0;
    }
}

@media screen and (max-width: 850px){
    .nav{
        display: none;
    }
}

@media screen and (max-width: 780px){
    #social-media{
        display: none;
    }
    #text-footer{
        margin-right: 15%;
    }
}

@media screen and (max-width: 620px){
    .search{
        display: none;
    }

    .modal{

        min-width: 250px;
    }

    .body-slide{
        display: none;
    }
}

@media screen and (max-width: 534px){
    .title-product h1{
        font-size: 6vh;
    }

    #text-footer{
        font-size: 2.7vh;
    }

    #logo-footer{
        width: 20%;
        height:  15vh;
    }


}

@media screen and (max-height: 490px){
    .body-slide{
        display: none;
    }

    .select-container{
        padding: 2.6vh;
    }

    @media screen and (max-width: 400px){

    }
}


@media screen and (max-width: 395px){

        #logo-footer img{
        margin-bottom: 4vh;
        }
}




